@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.nvtooltip {
    z-index: 3;
}

.login-bg {
    background-image: url('assets/background-business.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
}