<h1 class="text-center">Relias Employees</h1>
<div>
  <button (click)="openCreateUserModal()" mat-raised-button class="new-user-button" color="primary">
    <mat-icon>add</mat-icon>
    New Employee
  </button>
  <input class="d-none ml-3" (change)="onChange($event)" id="input-file-id" multiple type="file" />
  <label *ngIf="showImport" for="input-file-id" class="import-btn mat-raised-button ml-3">Import Relias Employees</label>
  <!-- <input class="upload-btn d-block mb-3" type="file" (change)="onChange($event)" /> -->
  <button mat-raised-button class="upload-btn button ml-3" *ngIf="showUpload" (click)="upload()">
    Upload
  </button>
  <span class="ml-2" *ngIf="showUpload">{{ fileName }}</span>
  <button mat-raised-button class="button ml-3" *ngIf="showUpload" (click)="cancel()">
    Cancel
  </button>
</div>

<div class="table-container mat-elevation-z8">
  <mat-form-field class="filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    <span matSuffix>
        <mat-icon>search</mat-icon>
    </span>
  </mat-form-field>
  <mat-table #table [dataSource]="dataSource">
    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email Address</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.position}} </mat-cell>
    </ng-container>

    <!-- Edit Button -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button (click)="openUpdateUserModal(user)" mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="userCount" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</div>
