<mat-toolbar class="d-flex flex-row justify-content-between">
  <div class="left-header d-flex">
    <mat-icon (click)="sidenav.toggle()" color="primary">menu</mat-icon>
    <h1>Benefits App</h1>
  </div>
  <div class="right-header">
    <mat-icon color="secondary">person</mat-icon>
    <span>{{user?.firstName}}</span>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav fixedTopGap="64" #sidenav [(opened)]="opened" role="navigation" mode="side">
    <ul class="menu">
      <li><a routerLinkActive="nav-selected" routerLink="/">Dashboard</a></li>
      <li><a routerLinkActive="nav-selected" routerLink="/relias-benefits">Relias Benefits</a></li>
      <li><a routerLinkActive="nav-selected" routerLink="/users">Users</a></li>
      <li><a routerLinkActive="nav-selected" routerLink="/competitor-orgs">Competitor Organizations</a></li>
      <li><a routerLinkActive="nav-selected" routerLink="/login" (click)="logout()">Logout</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content class="d-flex" role="main">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
