<mat-toolbar layout="column" class="d-flex flex-row justify-content-between">
  <div class="left-header d-flex">
    <mat-icon (click)="sidenav.toggle()" color="primary">menu</mat-icon>
    <h1>Benefits App</h1>
  </div>
  <div class="right-header d-flex align-content-center">
    <span class="align-self-center">{{user?.firstName}} {{user?.lastName}}</span>
    <mat-icon color="primary" routerLink="/login" (click)="logout()">exit_to_app</mat-icon>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav fixedInViewport #sidenav [(opened)]="opened" role="navigation" mode="side">
    <ul class="menu">
      <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav-selected" routerLink="/">Dashboard</a></li>
      <li *ngIf="user?.isAdmin"><a routerLinkActive="nav-selected" routerLink="/relias-benefits">Relias Benefits</a></li>
      <li *ngIf="user?.isAdmin"><a routerLinkActive="nav-selected" routerLink="/users">Relias Employees</a></li>
      <li *ngIf="user?.isAdmin"><a routerLinkActive="nav-selected" routerLink="/market-research">Market Research</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
