.mat-toolbar {
  height: 9vh;
  position: fixed;
  z-index: 10;

  span {
    color: #323232;
    font-size: 18px;
    line-height: 24px;
    padding-right: 10px;
  }
}

.right-header {
  span, .mat-icon {
    height: 100%;
  }

  .mat-icon {
    font-size: 20px;
  }
}

.mat-sidenav {
  background: #323232;
  margin-top: 9vh;
  min-height: 91vh;
  outline: none;
  width: 200px;

  a {
    color: white;

    &.nav-selected {
      color: #ffd740;
    }
  }
}

ul {
  padding: 30px 20px 0 30px;

  li {
    list-style: none;
    padding: 20px 0 0;
  }
}

h1 {
  margin-left: 20px;
}

.collapsed-nav {
  background: #323232;
  display: inline-block;
  min-height: 100vh;
  width: 30px;
}

.mat-icon {
  line-height: 32px;

  &:hover {
    cursor: pointer;
  }
}

.container {
  margin-top: 9vh;
  min-height: 91vh;
  padding: 20px 40px;
}
