.mat-toolbar {
  height: 9vh;
}

.mat-sidenav {
  background: #323232;
  min-height: 91vh;
  outline: none;

  a {
    color: white;

    &.nav-selected {
      color: #ffd740;
    }
  }
}

ul {
  padding: 30px 20px 0 30px;

  li {
    list-style: none;
    padding: 20px 0 0;
  }
}

h1 {
  margin-left: 20px;
}

.collapsed-nav {
  background: #323232;
  display: inline-block;
  min-height: 100vh;
  width: 30px;
}

.mat-icon {
  line-height: 32px;

  &:hover {
    cursor: pointer;
  }
}

.container {
  min-height: 91vh;
  padding: 20px 40px;
}
