.mat-sidenav {
  background: #323232;
  outline: none;

  a {
    color: white;
  }
}

ul {
  padding: 30px 20px 0 30px;

  li {
    list-style: none;
    padding: 20px 0 0;
  }
}

h1 {
  margin-left: 20px;
}

.collapsed-nav {
  background: #323232;
  display: inline-block;
  min-height: 100vh;
  width: 30px;
}

.mat-icon {

  &:hover {
    cursor: pointer;
  }
}
