<h1>Your Benefits Breakdown</h1>
<div>
  <button mat-raised-button [ngClass]="{'chart-selected': !compareBenefits}" type="button" class="btn btn-sm btn-switch button-primary button" id="Pie" (click)="pieView($event)" i18n>Pie View</button>
  <button mat-raised-button [ngClass]="{'chart-selected': compareBenefits}" type="button" class="btn btn-sm btn-switch button-primary button" id="Compare" (click)="compareView($event)" i18n>Compare</button>
</div>
<div class="graph-container">
  <div class="pie-container mt-4" *ngIf="!compareBenefits">
    <div class="container">
      <div class="row">
        <div class="col-md-4 pl-0">
          <div class='benefits-grid'>
            <div class="row justify-content-md-center">
              <div class="col-md-4 header">
                <h5>Benefit</h5>
              </div>
              <div class="col-md-4 header">
                <h5>Amount</h5>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-md-4" style="background-color: #1F77B4">
                <p>Salary</p>
              </div>
              <div class="col-md-4" style="background-color: #1F77B4">
                <p>{{this.user !== undefined ? (this.user.salary | currency: 'USD':'symbol':'1.0-0') : '$100,000.00'}}</p>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-md-4" style="background-color: #AEC7E8">
                <p>Bonus</p>
              </div>
              <div class="col-md-4" style="background-color: #AEC7E8">
                <p>{{this.user !== undefined ? (this.user.bonus | currency: 'USD':'symbol':'1.0-0') : '$10,000.00'}}</p>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-md-4" style="background-color: #FF7F0E">
                <p>401k</p>
              </div>
              <div class="col-md-4" style="background-color: #FF7F0E">
                <p>{{this.user !== undefined ? (this.user._401k | currency: 'USD':'symbol':'1.0-0') : '$6,000.00'}}</p>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-md-4" style="background-color: #ffbb78">
                <p>Medical</p>
              </div>
              <div class="col-md-4" style="background-color: #ffbb78">
                <p>{{this.user !== undefined ? (this.user.medical | currency: 'USD':'symbol':'1.0-0') : '$475.00'}}</p>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-md-4" style="background-color: #2ca02c">
                <p>Dental</p>
              </div>
              <div class="col-md-4" style="background-color: #2ca02c">
                <p>{{this.user !== undefined ? (this.user.dental | currency: 'USD':'symbol':'1.0-0') : '$125.00'}}</p>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-md-4" style="background-color: #98df8a">
                <p>Vision</p>
              </div>
              <div class="col-md-4" style="background-color: #98df8a">
                <p>{{this.user !== undefined ? (this.user.vision | currency: 'USD':'symbol':'1.0-0') : '$125.00'}}</p>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-md-4" style="background-color: #d62728">
                <p>HSA</p>
              </div>
              <div class="col-md-4" style="background-color: #d62728">
                <p>{{this.user !== undefined ? (this.user.hsa | currency: 'USD':'symbol':'1.0-0') : '$500.00'}}</p>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-md-4 " style="background-color: #ff9896">
                <p>PTO</p>
              </div>
              <div class="col-md-4" style="background-color: #ff9896">
                <p>{{this.user !== undefined ? (this.user.pto | currency: 'USD':'symbol':'1.0-0') : '$7000.00'}}</p>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-md-4" style="background-color: #9467bd">
                <p>Tuition</p>
              </div>
              <div class="col-md-4" style="background-color: #9467bd">
                <p>{{this.user !== undefined ? (this.user.tuition | currency: 'USD':'symbol':'1.0-0') : '$4000.00'}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <nvd3 [options]="pieOptions" [data]="pieData"></nvd3> 
        </div>
      </div>
    </div> 
  </div>
  <div *ngIf="compareBenefits">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-5">
          <label>Choose an Organization to Compare:</label>
          <select class="form-control form-control-sm custom-select" [(ngModel)]="selectedOrg" (ngModelChange)="filterChanged($event)">
            <option *ngFor="let org of competitorOrgs" class="filterOption" [ngValue]="org">{{org.name}} - {{org.position}}</option>
          </select>
        </div>
      </div>
    </div>
    <nvd3 #nvd3 [options]="barOptions" [data]="barData"></nvd3>
  </div>
</div>
