h1 {
    text-align: center;
}

.btn-switch {
    margin: 10px 0 10px 0
}

.graph-container {
    display: flex;
    justify-content: center;
}

.benefits-grid {
    margin: 10px 0 50px 0;
    [class^="col"]  {
        height: 30px;
    }
    .header {
        border-bottom: 2px solid black;
    }
}