<h1>Your Benefits Breakdown</h1>
<div>
  <button type="button" class="btn btn-sm btn-filter button-primary button" id="Pie" (click)="pieView($event)" i18n>Pie View</button>
  <button type="button" class="btn btn-sm btn-filter button-primary button" id="Compare" (click)="compareView($event)" i18n>Compare</button>
</div>
<div class="graph-container">
  <div *ngIf="!compareBenefits">
    <nvd3 [options]="pieOptions" [data]="pieData"></nvd3>
    <div class='benefits-grid'>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-4 header">
            <h5>Benefit</h5>
          </div>
          <div class="col-md-4 header">
            <h5>Amount</h5>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-4" style="background-color: #1F77B4">
            <p>Salary</p>
          </div>
          <div class="col-md-4" style="background-color: #1F77B4">
            <p>{{this.user !== undefined ? (this.user.salary | currency) : '$100,000.00'}}</p>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-4" style="background-color: #AEC7E8">
            <p>Bonus</p>
          </div>
          <div class="col-md-4" style="background-color: #AEC7E8">
            <p>{{this.user !== undefined ? (this.user.bonus | currency) : '$10,000.00'}}</p>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-4" style="background-color: #FF7F0E">
            <p>401k</p>
          </div>
          <div class="col-md-4" style="background-color: #FF7F0E">
            <p>{{this.user !== undefined ? (this.user._401k | currency) : '$6,000.00'}}</p>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-4" style="background-color: #ffbb78">
            <p>Medical</p>
          </div>
          <div class="col-md-4 " style="background-color: #ffbb78">
            <p>{{this.user !== undefined ? (this.user.medical | currency) : '$475.00'}}</p>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-4" style="background-color: #2ca02c">
            <p>Dental</p>
          </div>
          <div class="col-md-4" style="background-color: #2ca02c">
            <p>{{this.user !== undefined ? (this.user.dental | currency) : '$125.00'}}</p>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-4 " style="background-color: #98df8a">
            <p>Vision</p>
          </div>
          <div class="col-md-4 " style="background-color: #98df8a">
            <p>{{this.user !== undefined ? (this.user.vision | currency) : '$125.00'}}</p>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-4" style="background-color: #d62728">
            <p>HSA</p>
          </div>
          <div class="col-md-4" style="background-color: #d62728">
            <p>{{this.user !== undefined ? (this.user.hsa | currency) : '$500.00'}}</p>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-4 " style="background-color: #ff9896">
            <p>PTO</p>
          </div>
          <div class="col-md-4" style="background-color: #ff9896">
            <p>{{this.user !== undefined ? (this.user.pto | currency) : '$7000.00'}}</p>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-4" style="background-color: #9467bd">
            <p>Tuition</p>
          </div>
          <div class="col-md-4" style="background-color: #9467bd">
            <p>{{this.user !== undefined ? (this.user.tuition | currency) : '$4000.00'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="compareBenefits">
    <nvd3 [options]="barOptions" [data]="barData"></nvd3>
  </div>
</div>
