<div class="modal-container">
  <div [formGroup]="orgForm">
    <mat-form-field class="w-100">
      <input formControlName="orgName" matInput placeholder="Organization Name">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input formControlName="compPosition" matInput placeholder="Position">
    </mat-form-field>
    <div class="d-flex justify-content-between">
      <mat-form-field>
        <input formControlName="avgSalary" type="number" matInput placeholder="Average Salary">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="avgBonus" type="number" matInput placeholder="Average Bonus">
        <span matSuffix>%</span>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-between">
      <mat-form-field>
          <input formControlName="avgTuition" type="number" matInput placeholder="Average Tuition">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      <mat-form-field>
        <input formControlName="avgPTO" type="number" matInput placeholder="Average PTO">
        <span matSuffix>%</span>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-between">
      <mat-form-field>
          <input formControlName="avgMedical" type="number" matInput placeholder="Average Medical">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      <mat-form-field>
          <input formControlName="avg401k" type="number" matInput placeholder="Average 401k">
          <span matSuffix>%</span>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-between">
      <mat-form-field>
        <input formControlName="avgDental" type="number" matInput placeholder="Average Dental">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="avgVision" type="number" matInput placeholder="Average Vision">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex justify-content-end" mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onCancel()">
      Cancel
    </button>
    <button mat-raised-button color="primary" (click)="onSave();">
      Save
    </button>
  </div>
</div>