<div>
  <button mat-raised-button color="primary" class="button" (click)="openCreateNewOrgModal()">
    <mat-icon>add</mat-icon>
    New Entry
  </button>
  <input class="d-none ml-3" (change)="onChange($event)" id="input-file-id" multiple type="file" />
  <label *ngIf="showImport" for="input-file-id" class="import-btn mat-raised-button ml-3">Import Data</label>
  <!-- <input class="upload-btn d-block mb-3" type="file" (change)="onChange($event)" /> -->
  <button mat-raised-button class="upload-btn button ml-3" *ngIf="showUpload" (click)="upload()">
    Upload
  </button>
</div>

<div class="table-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <!-- Org Name Column -->
    <ng-container matColumnDef="orgName">
      <mat-header-cell *matHeaderCellDef>Organization Name</mat-header-cell>
      <mat-cell *matCellDef="let org"> {{org.name}} </mat-cell>
    </ng-container>

    <!-- Competitor Position Column -->
    <ng-container matColumnDef="compPosition">
      <mat-header-cell *matHeaderCellDef>Competitor Position</mat-header-cell>
      <mat-cell *matCellDef="let org"> {{org.position}} </mat-cell>
    </ng-container>

    <!-- Avg Salary Column -->
    <ng-container matColumnDef="avgSalary">
      <mat-header-cell *matHeaderCellDef>Average Salary</mat-header-cell>
      <mat-cell *matCellDef="let org"> ${{org.avgSalary}} </mat-cell>
    </ng-container>

    <!-- Avg Bonus Column -->
    <ng-container matColumnDef="avgBonus">
      <mat-header-cell *matHeaderCellDef>Average Bonus</mat-header-cell>
      <mat-cell *matCellDef="let org"> {{org.avgBonus}}% </mat-cell>
    </ng-container>

    <!-- Avg Medical Column -->
    <ng-container matColumnDef="avgMedical">
      <mat-header-cell *matHeaderCellDef>Average Medical</mat-header-cell>
      <mat-cell *matCellDef="let org"> ${{org.avgMedical}} </mat-cell>
    </ng-container>

    <!-- Edit Button -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let org">
        <button (click)="openUpdateOrgModal(org)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>