<div class="modal-container">
  <mat-form-field>
    <input matInput placeholder="First Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Department">
      <mat-option value="sales">Sales</mat-option>
      <mat-option value="engineering">Engineering</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Position">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Salary">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Is this user an admin?">
      <mat-option value="yes">Yes</mat-option>
      <mat-option value="no">No</mat-option>
    </mat-select>
  </mat-form-field>
</div>